@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --body-color: #090717;
  --primary-color:  #0d6efd;
  --primary-color-opacity: #0d6dfd1c;
  --card-color: #161326;
  --card-hover: #1b1731;
  /* Color End */

  /* Text Color */
  --text-color: #707070;
  --text-color-light: #fff;
  --text-color-opacity: #ffffffbe;
  /* Text Color End */

  /* Transisi */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  /* Transisi End */
}

html,body{
  margin: 0;
  padding: 0;
  display: contents;
  place-items: center;
  background-color: var(--body-color);
  text-decoration: none;
}
.html{
  scroll-behavior: smooth;
}

.navbar {
  background-color: #050510;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--primary-color) !important;
  font-weight: 600;
}
.navbar .navbar-nav .nav-item .nav-link .profile-image {
  width: 26px !important;
  height: 26px !important;
  overflow: hidden;
  border-radius: 50px !important;
}
.navbar .navbar-nav .nav-item .nav-link .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dropdown */
.dropdown .dropdown-menu {
  background-color: var(--card-hover) !important;
}
.dropdown-menu .dropdown-item {
  color: var(--text-color);
}
.dropdown-menu .dropdown-item:hover {
  color: var(--text-color-light);
}
.dropdown-menu .dropdown-item:active {
  background-color: var(--primary-color);
}
/* Dropdown End */


.container.dashboard .card {
    background-color: var(--card-color);
    border-radius: 10px;
}
.container.dashboard .card:hover {
    background-color: var(--card-hover);
}

/* Table */
.table-responsive {
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 20px;
}
table {
  border: none !important;
}
table th {
  background-color: transparent !important;
  color: var(--text-color-primary) !important;
  padding: 10px 20px !important;
}
table td {
  background-color: transparent !important;
  color: var(--text-color-light) !important;
  border-bottom: 1px solid var(--text-color) !important;
  padding: 10px 20px !important;
}
table tr:hover td,
table tr:nth-child(odd):hover td {
  background-color: rgba(225, 225, 225, 0.1) !important;
  transition: var(--tran-03);
}

table tr td a i,
table tr td form button.hapus-btn i {
  padding: 10px;
  border-radius: 10px;
}
table tr td form button.hapus-btn {
  background-color: transparent;
  border: none;
  padding: 0px !important;
  margin: 0px !important;
}
table tr td .actions a:hover i,
table tr td form button.hapus-btn:hover i {
  background-color: var(--card-hover) !important;
  transition: var(--tran-03);
}
table tr td .actions a i {
  background-color: var(--primary-color-opacity);
  color: var(--text-color-primary);
}
table tr td button.hapus-btn i {
  background-color: #dc35461c;
}
table tbody tr:nth-child(odd) td {
  background-color: var(--card-hover) !important;
}

table tbody tr td .username .username-info,
table tbody tr td .roles-info,
table tbody tr td .email-info {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
}
table tbody tr td .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
table tbody tr td .roles-info,
table tbody tr td .email-info,
table tbody tr td .actions {
  height: 30px;
}
table tbody tr td .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}
table tbody tr td .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dataTables_length,
.dataTables_filter {
  padding: 10px 0px 10px 0px;
}

@media (min-width: 768px) {
  #myDataTable_filter {
    display: flex;
    justify-content: end;
  }
}
@media (max-width: 768px) {
  #myDataTable_filter,
  #myDataTable_length {
    display: flex;
    justify-content: center;
  }
}

.dataTables_length select,
.dataTables_filter select,
.dataTables_info select,
.dataTables_paginate select {
  background-color: var(--card-color) !important;
  border: 1px solid var(--text-color) !important;
  border-radius: 20px;
  color: var(--text-color-light);
  box-shadow: none !important;
}
.dataTables_length select  {
  padding-left: 15px;
  padding-right: 20px;
}
input[type="search"] {
  background-color: transparent !important;
  border: 1px solid var(--text-color) !important;
  border-radius: 20px;
  color: var(--text-color-light) !important;
  padding-left: 15px;
  box-shadow: none !important;
}
input[type="search"]::placeholder,
input[type="number"]::placeholder {
  color: var(--text-color);
}

input[type="search"]:focus,
input[type="number"]:focus {
  border-color: var(--primary-color);
}
.dataTables_info,
.pagination {
  margin-top: 20px !important;
}
@media (max-width: 768px) {
  .dataTables_info,
  .pagination {
    margin-top: 5px !important;
  }
}

.pagination .paginate_button > a {
  background-color: transparent !important;
  border: 1px solid var(--text-color) !important;
  color: var(--text-color-light) !important;
}
.pagination .paginate_button.previous > a {
  border-radius: 20px 0px 0px 20px;
}
.pagination .paginate_button.next > a {
  border-radius: 0px 20px 20px 0px;
}
.pagination .paginate_button.active > a {
  background-color: var(--primary-color) !important; 
  color: white !important;
}
/* Table End */


.container-footer {
  margin: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--card-color);
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--card-color);
  margin-top: -30px;
}
@media (max-width: 768px) {
  .footer-content {
    margin-top: -20px;
  }
}

.footer-content h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #fff;
}

.footer-content p {
  max-width: 600px;
  font-weight: 80;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}

.socials a i {
  font-size: 1.1rem;
}

.footer-bottom {
  background: #050510;
  width: auto;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  background: #050510;
  color: #fff;
  margin-bottom: 2px;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}



/* Scroll */
.fa {
  color: #fff;
}
.icon-scroll {
  position: fixed;
  height: 50px;
  width: 50px;
  background: var(--card-hover);
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 62px;
  border-radius: 10px;
  pointer-events: none;
  transition: all .4s;
  opacity: 0;
}
.icon-scroll.active {
  pointer-events: auto;
  opacity: 1;
}
/* Scroll End */

/* CS */
.icon-cs {
  position: fixed;
  height: 50px;
  width: 50px;
  background: var(--card-hover);
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 62px;
  border-radius: 10px;
}
/* CS End */


/* Modal */
.modal .modal-content {
  background-color: var(--card-color);
  color: var(--text-color-light);
  border: none;
}
.modal .modal-content .modal-body input {
  border: 1px solid var(--text-color);
  background: transparent;
  color: var(--text-color);
  border-radius: 1px 10px 10px 10px;
}
.modal .modal-content .modal-body input::placeholder {
  color: var(--text-color);
}
.modal .modal-content .modal-body input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  transition: var(--tran-03);
}

.modal .modal-content .modal-body .edit-banner {
  aspect-ratio: 16/6;
  overflow: hidden;
}
.modal .modal-content .modal-body .edit-banner img {
  width: 100%;
  height: 100%;
}

.modal .modal-content .modal-body .profile .foto-profile {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.modal .modal-content .modal-body .profile .foto-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.modal .modal-content select {
  background-color: transparent !important;
  color: var(--text-color-light);
  border: 1px solid var(--text-color);
  border-radius: 1px 10px 10px 10px;
  box-shadow: none;
}
.modal .modal-content select option {
  background-color: var(--card-hover);
}

.modal .modal-content .modal-body .content-tambah-user {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-color);
  border-radius: 1px 10px 10px 10px;
}
.modal .modal-content .modal-body .content-tambah-user:focus-within {
  border-color: var(--primary-color);
  transition: var(--tran-03);
  box-shadow: none;
}
.modal .modal-content .modal-body .content-tambah-user input {
  border: none;
}
.modal .modal-content .modal-body .content-tambah-user i {
  padding: 5px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .modal .modal-content .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal .modal-content .modal-footer button {
    width: 100%;
  }
}


input[type="file"]::-webkit-file-upload-button {
  background: var(--text-color);
}
input[type="file"]:hover::-webkit-file-upload-button {
  background: var(--primary-color) !important;
  transition: var(--tran-03);
}
input[type="file"]::-webkit-file-upload-button {
  color: var(--text-color-light);
}
/* Modal End */


/* Text */
.text-color {
  color: var(--text-color) !important;
}
.text-light {
  color: var(--text-color-light) !important;
}
.text-opacity {
  color: var(--text-color-opacity) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.btn-primary {
  background-color: var(--primary-color) !important;
}
.btn-outline-primary {
  border-color: var(--primary-color) !important;
}

h3.text-size {
  font-size: clamp(20px, 2.5vw, 25px);
}
h4.text-size {
  font-size: clamp(17px, 2.5vw, 20px);
}
h5.text-size {
  font-size: clamp(15px, 2.5vw, 18px);
}
h6.text-size {
  font-size: clamp(13px, 2.5vw, 17px);
}

span.text-size,
p.text-size {
  font-size: clamp(10px, 2.5vw, 15px);
}
p {
  font-size: clamp(10px, 2.5vw, 15px) !important;
}

.nav-pills .nav-item .text-size {
  font-size: clamp(10px, 2.5vw, 15px);
}

.card-body figure figcaption {
  font-size: clamp(20px, 2.5vw, 25px);
}
table tr td.text-size {
  font-size: clamp(13px, 2.5vw, 15px);
}
/* Text End */


/* Alert */
.sw-popup {
  background-color: var(--card-hover) !important;
}
.sw-icon {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.sw-title {
  color: var(--text-color-light) !important;
}
.sw-text {
  color: var(--text-color-light) !important;
  opacity: .5;
}
.sw-confirm {
  background-color: var(--primary-color) !important;
  border: none !important;
  box-shadow: none !important;
}
/* Alert End */
